@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">テーブルのテスト</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">この記号は？ &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>まずは自動作成されたCRUD</h2>
        <p><a class="btn btn-default" href="/table_test">自作成CRUD</a></p>
    </div>
    <div class="col-md-4">
        <h2>Formでまとめて承認</h2>
        <p><a class="btn btn-default" href="/table_test/index2">まとめて承認</a></p>
    </div>
</div>